<html>
<head> 
</head>
<body style"margin:0px">
<h1 style=" text-align:center;color:#CFDE06"> @post.title</h1>
<body>
<img src="https://images.unsplash.com/photo-1512343879784-a960bf40e7f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2048&q=80" alt="Goa" width="100%" height="45%">
</body>
</html>